flows/Run_Local_Tests_On_User_Story.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>No_Test_Run</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default to No Test Run</defaultConnectorLabel>
        <rules>
            <name>Default_to_Run_Local_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>environmenttype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Local_Test</targetReference>
            </connector>
            <label>Default to Run Local Test</label>
        </rules>
    </decisions>
    <interviewLabel>Run Local Tests On User Story {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Local Tests On User Story</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Environment_details</name>
        <label>get Environment details</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>destinationenvironment</elementReference>
            </value>
        </filters>
        <object>copado__Environment__c</object>
        <outputAssignments>
            <assignToReference>environmenttype</assignToReference>
            <field>Environment_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_pipeline_Connection_details</name>
        <label>get pipeline Connection details</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Environment_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Environment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Deployment_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pipelineid</elementReference>
            </value>
        </filters>
        <object>copado__Deployment_Flow_Step__c</object>
        <outputAssignments>
            <assignToReference>destinationenvironment</assignToReference>
            <field>copado__Destination_Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Details</name>
        <label>Get Project Details</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_pipeline_Connection_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Project__r.Name</elementReference>
            </value>
        </filters>
        <object>copado__Project__c</object>
        <outputAssignments>
            <assignToReference>pipelineid</assignToReference>
            <field>copado__Deployment_Flow__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>No_Test_Run</name>
        <label>No Test Run</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>copado__Promotion_Test_Level__c</field>
            <value>
                <stringValue>NoTestRun</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Run_Local_Test</name>
        <label>Run Local Test</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>copado__Promotion_Test_Level__c</field>
            <value>
                <stringValue>RunLocalTests</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Org_Credential__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>destinationenvironment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>environmenttype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pipelineid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
